<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="body_content">
    <div>
        <section class="pt10 pb90 pb30-md">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-lg-8">
                        <div
                            class="cta-service-v1 freelancer-single-v1 pt60 pb60 bdrs16 position-relative overflow-hidden mb30 d-flex align-items-center">
                            <img alt="" loading="lazy" width="198" height="226" decoding="async" data-nimg="1"
                                class="left-top-img wow zoomIn" style="color:transparent;height:fit-content"
                                src="assets/left-top9e21.png" /><img alt="" loading="lazy" width="255" height="181"
                                decoding="async" data-nimg="1" class="right-bottom-img wow zoomIn"
                                style="color:transparent;height:fit-content" src="assets/right-bottomebb3.png" />
                            <div class="row wow fadeInUp">
                                <div class="col-xl-12">
                                    <div class="position-relative pl50 pl20-sm">
                                        <div class="list-meta d-sm-flex align-items-center"><a
                                                class="position-relative freelancer-single-style" href="#"><span
                                                    class="online"></span><img alt="Freelancer Photo" loading="lazy"
                                                    width="90" height="90" decoding="async" data-nimg="1"
                                                    class="rounded-circle w-100 wa-sm mb15-sm" style="color:transparent"
                                                    src="assets/fl-1beae.png" /></a>
                                            <div class="ml20 ml0-xs">
                                                <h5 class="title mb-1"> {{profile.username}} </h5>
                                                <p class="mb-0"> {{profile.type}} </p>
                                                <p class="mb-0 dark-color fz15 fw500 list-inline-item mb5-sm"><i
                                                        class="fas fa-star vam fz10 review-color me-2"></i> <!-- -->4.82
                                                    94 reviews</p>
                                                <p
                                                    class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs">
                                                    <i class="flaticon-place vam fz20 me-2"></i> <!-- -->
                                                    {{profile.country}} , {{profile.city}}
                                                </p>
                                                <p
                                                    class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs">
                                                    <i class="flaticon-30-days vam fz20 me-2"></i> <!-- -->Member since
                                                    April 1, 2022
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xl-3">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-target"></span></div>
                                    <div class="details">
                                        <h5 class="title">Job Success</h5>
                                        <p class="mb-0 text">98%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-goal"></span></div>
                                    <div class="details">
                                        <h5 class="title">Total Jobs</h5>
                                        <p class="mb-0 text">921</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-fifteen"></span></div>
                                    <div class="details">
                                        <h5 class="title">Total Hours</h5>
                                        <p class="mb-0 text">1,499</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-3">
                                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                                    <div class="icon flex-shrink-0"><span class="flaticon-file-1"></span></div>
                                    <div class="details">
                                        <h5 class="title">In Queue Service</h5>
                                        <p class="mb-0 text">20</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-about">
                            <h4>Description</h4>
                            <p class="text mb30">
                                {{profile.introduce_yourself}}
                            </p>
                            <hr class="opacity-100 mb60 mt60" />
                            <h4 class="mb30">Education</h4>
                            <div class="educational-quality">
                                <div *ngFor="let obj of profile.education">
                                    <div class="m-circle text-thm">M</div>
                                    <div class="wrapper mb40"><span class="tag"> {{obj.from}} - {{obj.to}} </span>
                                        <h5 class="mt15"> {{obj.collage}} </h5>
                                        <h6 class="text-thm"> {{obj.collage}} </h6>
                                        <p> {{obj.description}} </p>
                                    </div>
                                </div>

                            </div>
                            <hr class="opacity-100 mb60" />
                            <h4 class="mb30">Work &amp; Experience</h4>
                            <div class="educational-quality">
                                <div *ngFor="let obj of profile.work_experience">
                                    <div class="m-circle text-thm">M</div>
                                    <div class="wrapper mb40"><span class="tag"> {{obj.from}} - {{obj.to}} </span>
                                        <h5 class="mt15"> {{obj.project_name}} </h5>
                                        <h6 class="text-thm"> {{obj.company_name}} </h6>
                                        <p> {{obj.description}} </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="opacity-100 mb60" />
                            <h4 class="mb30">Awards adn Certificates</h4>
                            <div class="educational-quality ps-0">
                                <div *ngFor="let obj of profile.award" class="wrapper mb40"><span class="tag">
                                        {{obj.from}} -
                                        {{obj.to}} </span>
                                    <h5 class="mt15">{{obj.project_name}} </h5>
                                    <h6 class="text-thm"> {{obj.company_name}} </h6>
                                    <p> {{obj.description}} </p>
                                </div>

                            </div>
                            <!-- <hr class="opacity-100 mb60" />
                            <h4 class="mb30">Featured Services</h4>
                            <div class="row mb35">
                                <div class="col-sm-6 col-xl-4">
                                    <div class="listing-style1">
                                        <div class="list-thumb"><img alt="thumbnail" loading="lazy" width="255"
                                                height="190" decoding="async" data-nimg="1"
                                                class="w-100 h-100 object-fit-cover" style="color:transparent"
                                                src="assets/g-18947.jpg" /><a class="listing-fav fz12 "><span
                                                    class="far fa-heart"></span></a></div>
                                        <div class="list-content">
                                            <p class="list-text body-color fz14 mb-1">Web &amp; App Design</p>
                                            <h6 class="list-title"><a href="services-single.php">I will design modern
                                                    websites in figma o...</a></h6>
                                            <div class="review-meta d-flex align-items-center"><i
                                                    class="fas fa-star fz10 review-color me-2"></i>
                                                <p class="mb-0 body-color fz14"><span
                                                        class="dark-color me-2">4.82</span>94 reviews</p>
                                            </div>
                                            <hr class="my-2" />
                                            <div class="list-meta mt15">
                                                <div class="budget">
                                                    <p class="mb-0 body-color">Starting at<span
                                                            class="fz17 fw500 dark-color ms-1">$983</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <div class="listing-style1">
                                        <div class="list-thumb"><img alt="thumbnail" loading="lazy" width="255"
                                                height="190" decoding="async" data-nimg="1"
                                                class="w-100 h-100 object-fit-cover" style="color:transparent"
                                                src="assets/g-2f3bf.jpg" /><a class="listing-fav fz12 "><span
                                                    class="far fa-heart"></span></a></div>
                                        <div class="list-content">
                                            <p class="list-text body-color fz14 mb-1">Art &amp; Illustration</p>
                                            <h6 class="list-title"><a href="services-single.php">I will create modern
                                                    flat design illustr...</a></h6>
                                            <div class="review-meta d-flex align-items-center"><i
                                                    class="fas fa-star fz10 review-color me-2"></i>
                                                <p class="mb-0 body-color fz14"><span
                                                        class="dark-color me-2">4.82</span>94 reviews</p>
                                            </div>
                                            <hr class="my-2" />
                                            <div class="list-meta mt15">
                                                <div class="budget">
                                                    <p class="mb-0 body-color">Starting at<span
                                                            class="fz17 fw500 dark-color ms-1">$983</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4">
                                    <div class="listing-style1">
                                        <div class="list-thumb"><img alt="thumbnail" loading="lazy" width="255"
                                                height="190" decoding="async" data-nimg="1"
                                                class="w-100 h-100 object-fit-cover" style="color:transparent"
                                                src="assets/g-39159.jpg" /><a class="listing-fav fz12 "><span
                                                    class="far fa-heart"></span></a></div>
                                        <div class="list-content">
                                            <p class="list-text body-color fz14 mb-1">Design &amp; Creative</p>
                                            <h6 class="list-title"><a href="services-single.php">I will build a fully
                                                    responsive design i...</a></h6>
                                            <div class="review-meta d-flex align-items-center"><i
                                                    class="fas fa-star fz10 review-color me-2"></i>
                                                <p class="mb-0 body-color fz14"><span
                                                        class="dark-color me-2">4.82</span>94 reviews</p>
                                            </div>
                                            <hr class="my-2" />
                                            <div class="list-meta mt15">
                                                <div class="budget">
                                                    <p class="mb-0 body-color">Starting at<span
                                                            class="fz17 fw500 dark-color ms-1">$983</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="opacity-100" />
                            <div class="product_single_content mb50">
                                <div class="mbp_pagination_comments">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="total_review mb30 mt45">
                                                <h4>80 Reviews</h4>
                                            </div>
                                            <div class="d-md-flex align-items-center mb30">
                                                <div
                                                    class="total-review-box d-flex align-items-center text-center mb30-sm">
                                                    <div class="wrapper mx-auto">
                                                        <div class="t-review mb15">4.96</div>
                                                        <h5>Exceptional</h5>
                                                        <p class="text mb-0">3,014 reviews</p>
                                                    </div>
                                                </div>
                                                <div class="wrapper ml60 ml0-sm">
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">5 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="width:90%"
                                                                aria-valuenow="90" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">58</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">4 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar w-75" aria-valuenow="75"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">20</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">3 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar w-50" aria-valuenow="50"
                                                                aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">15</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">2 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="width:30%"
                                                                aria-valuenow="30" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">2</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">1 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="width:20%"
                                                                aria-valuenow="10" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div
                                                class="mbp_first position-relative d-flex align-items-center justify-content-start mb30-sm">
                                                <img alt="comments-2.png" loading="lazy" width="60" height="60"
                                                    decoding="async" data-nimg="1" class="mr-3"
                                                    style="color:transparent" src="assets/comments-23bee.png" />
                                                <div class="ml20">
                                                    <h6 class="mt-0 mb-0">Bessie Cooper</h6>
                                                    <div><span class="fz14">12 March 2022</span></div>
                                                </div>
                                            </div>
                                            <p class="text mt20 mb20">There are many variations of passages of Lorem
                                                Ipsum available, but the majority have suffered alteration in some form,
                                                by injected humour, or randomised words which don&#x27;t look even
                                                slightly believable. If you are going to use a passage of Lorem Ipsum,
                                                you need to be sure there isn&#x27;t anything embarrassing hidden in the
                                                middle of text.</p>
                                            <div class="review_cansel_btns d-flex"><a><i
                                                        class="fas fa-thumbs-up"></i>Helpful</a><a><i
                                                        class="fas fa-thumbs-down"></i>Not helpful</a></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div
                                                class="mbp_first position-relative d-flex align-items-center justify-content-start mt30 mb30-sm">
                                                <img alt="comments-2.png" loading="lazy" width="60" height="60"
                                                    decoding="async" data-nimg="1" class="mr-3"
                                                    style="color:transparent" src="assets/comments-23bee.png" />
                                                <div class="ml20">
                                                    <h6 class="mt-0 mb-0">Darrell Steward</h6>
                                                    <div><span class="fz14">12 March 2022</span></div>
                                                </div>
                                            </div>
                                            <p class="text mt20 mb20">There are many variations of passages of Lorem
                                                Ipsum available, but the majority have suffered alteration in some form,
                                                by injected humour, or randomised words which don&#x27;t look even
                                                slightly believable. If you are going to use a passage of Lorem Ipsum,
                                                you need to be sure there isn&#x27;t anything embarrassing hidden in the
                                                middle of text.</p>
                                            <div class="review_cansel_btns d-flex pb30"><a><i
                                                        class="fas fa-thumbs-up"></i>Helpful</a><a><i
                                                        class="fas fa-thumbs-down"></i>Not helpful</a></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative bdrb1 pb50"><a class="ud-btn btn-light-thm"
                                                    href="service-single.php">See More<i
                                                        class="fal fa-arrow-right-long"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bsp_reveiw_wrt mb20">
                                <h6 class="fz17">Add a Review</h6>
                                <p class="text">Your email address will not be published. Required fields are marked *
                                </p>
                                <h6>Your rating of this product</h6>
                                <div class="d-flex"><i class="fas fa-star review-color"></i><i
                                        class="far fa-star review-color ms-2"></i><i
                                        class="far fa-star review-color ms-2"></i><i
                                        class="far fa-star review-color ms-2"></i><i
                                        class="far fa-star review-color ms-2"></i></div>
                                <form class="comments_form mt30 mb30-md">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4"><label
                                                    class="fw500 fz16 ff-heading dark-color mb-2">Comment</label><textarea
                                                    class="pt15" rows="6"
                                                    placeholder="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&#x27;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&#x27;t anything embarrassing hidden in the middle of text."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb20"><label
                                                    class="fw500 ff-heading dark-color mb-2">Name</label><input
                                                    type="text" class="form-control" placeholder="Ali Tufan" /></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb20"><label
                                                    class="fw500 ff-heading dark-color mb-2">Email</label><input
                                                    type="email" class="form-control" placeholder="creativelayers088" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div
                                                class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb20">
                                                <label class="custom_checkbox fz15 ff-heading">Save my name, email, and
                                                    website in this browser for the next time I comment.<input
                                                        type="checkbox" /><span class="checkmark"></span></label>
                                            </div>
                                            <a class="ud-btn btn-thm">Send<i class="fal fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar ms-lg-auto">
                            <div class="price-widget pt25 bdrs8">
                                <h3 class="widget-title">{{profile.hourly_rate}} <small class="fz15 fw500">/per
                                        hour</small></h3>
                                <div class="category-list mt20"><a
                                        class="d-flex align-items-center justify-content-between bdrb1 pb-2"><span
                                            class="text"><i
                                                class="flaticon-place text-thm2 pe-2 vam"></i>Location</span><span>
                                            {{profile.country}} ,
                                            {{profile.city}} </span></a><a
                                        class="d-flex align-items-center justify-content-between bdrb1 pb-2"><span
                                            class="text"><i class="flaticon-30-days text-thm2 pe-2 vam"></i>Member
                                            since</span><span>April 2022</span></a><a
                                        class="d-flex align-items-center justify-content-between bdrb1 pb-2"><span
                                            class="text"><i
                                                class="flaticon-mars text-thm2 pe-2 vam"></i>Gender</span><span>
                                            {{profile.gender}} </span></a><a
                                        class="d-flex align-items-center justify-content-between bdrb1 pb-2"><span
                                            class="text"><i
                                                class="flaticon-translator text-thm2 pe-2 vam"></i>Languages</span><span>
                                            {{profile.language}} </span></a><a
                                        class="d-flex align-items-center justify-content-between mb-3"><span
                                            class="text"><i class="flaticon-sliders text-thm2 pe-2 vam"></i>Languages
                                            Level</span><span> {{profile.language_level}} </span></a></div>
                                <div class="d-grid"><a (click)="submitaproposal()" class="ud-btn btn-thm">Contact Me<i
                                            class="fal fa-arrow-right-long"></i></a></div>
                            </div>
                            <div class="sidebar-widget mb30 pb20 bdrs8">
                                <h4 class="widget-title">My Skills</h4>
                                <div class="tag-list mt30">
                                    <a *ngFor="let obj of profile.skil"> {{obj}} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <a class="scrollToHome "><i class="fas fa-angle-up"></i></a>
</div>