<div class="dashboard__sidebar d-none d-lg-block">
    <div class="dashboard_sidebar_list">
        <p class="fz15 fw400 ff-heading pl30">Start</p>
        <div class="sidebar_list_item mb-1"><a class="items-center -is-active" href="dashboard.php"><i
                    class="flaticon-home mr15"></i>Dashboard</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="proposal.php"><i
                    class="flaticon-document mr15"></i>My Proposals</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="saved.php"><i
                    class="flaticon-like mr15"></i>Saved</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="message.php"><i
                    class="flaticon-chat mr15"></i>Message</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="reviews.php"><i
                    class="flaticon-review-1 mr15"></i>Reviews</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="invoice.php"><i
                    class="flaticon-receipt mr15"></i>Invoice</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="payouts.php"><i
                    class="flaticon-dollar mr15"></i>Payouts</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="statements.php"><i
                    class="flaticon-web mr15"></i>Statements</a></div>
        <p class="fz15 fw400 ff-heading pl30 mt30">Organize and Manage</p>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="manage-services.php"><i
                    class="flaticon-presentation mr15"></i>Manage Services</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="manage-jobs.php"><i
                    class="flaticon-briefcase mr15"></i>Manage Jobs</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="manage-projects.php"><i
                    class="flaticon-content mr15"></i>Manage Project</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="add-services.php"><i
                    class="flaticon-document mr15"></i>Add Services</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="create-projects.php"><i
                    class="flaticon-content mr15"></i>Create Project</a></div>
        <p class="fz15 fw400 ff-heading pl30 mt30">Account</p>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="my-profile.php"><i
                    class="flaticon-photo mr15"></i>My Profile</a></div>
        <div class="sidebar_list_item mb-1"><a class="items-center " href="login.php"><i
                    class="flaticon-logout mr15"></i>Logout</a></div>
    </div>
</div>