<section class="hero-home4 pb-0 pt80">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="pr30 pr0-lg mb30-md position-relative">
                    <h1 class="animate-up-1 mb25 text-thm2">Welcome,
                        Let's start with your first job post.</h1>
                    <p class="text animate-up-2">It's the fastest way to meet top talent.
                        Get help from AI and be done in no time.</p>
                    <div class="d-flex align-items-center mt30 animate-up-3">
                        <a class="ud-btn btn-thm me-3" [routerLink]="['/client/createproject']">Post Job</a>
                    </div>


                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="home5-hero-content position-relative"><img alt="hero-img" loading="lazy" width="691"
                        height="536" decoding="async" data-nimg="1"
                        class="animate-up-1 bounce-x w-100 object-fit-contain" style="color:transparent"
                        src="assets/home5-hero-element-13e7b.png" />
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scrollToHome "><i class="fas fa-angle-up"></i></a>