<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="container">
    <div class="dashboard__content">
        <div class="row pb40">

            <div class="col-lg-12">
                <div class="dashboard_title_area">
                    <h2>My Proposals</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                    <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                            <thead class="t-head">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Cost / Delivery</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody class="t-body">
                                <tr *ngFor="let obj of projects">
                                    <th class="ps-0" scope="row">
                                        <div class="freelancer-style1 p-0 mb-0 box-shadow-none">
                                            <div class="d-lg-flex align-items-lg-center">
                                                <div class="thumb w60 position-relative rounded-circle mb15-md"><img
                                                        alt="thumb" loading="lazy" width="60" height="60"
                                                        decoding="async" data-nimg="1" class="rounded-circle mx-auto"
                                                        style="color:transparent" src="assets/client-1b9ce.png" /><span
                                                        class="online-badge2"></span></div>
                                                <div class="details ml15 ml0-md mb15-md">
                                                    <h5 class="title mb-2"> {{obj.title}} </h5>
                                                    <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i
                                                            class="flaticon-place fz16 vam text-thm2 me-1"></i>
                                                        <!-- --> {{obj.country}} , {{obj.city}} </p>
                                                    <p class="mb-0 fz14 list-inline-item mb5-sm pe-1"><i
                                                            class="flaticon-30-days fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i>
                                                        <!-- -->April 01, 2023</p>
                                                    <p (click)="setPorposal(obj.proposals)" data-bs-toggle="modal"
                                                        data-bs-target="#porposalListModalToggle"
                                                        class="mb-0 fz14 list-inline-item mb5-sm"><i
                                                            class="flaticon-contract fz16 vam text-thm2 me-1 bdrl1 pl15 pl0-xs bdrn-xs"></i>
                                                        <!-- --> {{obj.proposals.length}} Received</p>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="vam">
                                        <h5 class="mb-0">$ {{obj.cost}} <span class="fz14 fw400">Hourly Rate</span>
                                        </h5>
                                    </td>
                                    <td>
                                        <div class="d-flex"><a class="icon me-2" id="edit" data-bs-toggle="modal"
                                                data-bs-target="#proposalModal"><span
                                                    class="flaticon-pencil"></span></a><a class="icon" id="delete"
                                                data-bs-toggle="modal" data-bs-target="#deleteModal"><span
                                                    class="flaticon-delete"></span></a></div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="mt30">
                            <div class="mbp_pagination text-center  ">
                                <ul class="page_navigation">
                                    <li class="page-item"><a class="page-link"><span
                                                class="fas fa-angle-left"></span></a></li>
                                    <li class="page-item"><a class="page-link">1</a></li>
                                    <li class="page-item active" aria-current="page"><a class="page-link">2 <span
                                                class="sr-only">(current)</span></a></li>
                                    <li class="page-item"><a class="page-link">3</a></li>
                                    <li class="page-item"><a class="page-link">4</a></li>
                                    <li class="page-item"><a class="page-link">5</a></li>
                                    <li class="page-item"><a class="page-link">...</a></li>
                                    <li class="page-item"><a class="page-link">20</a></li>
                                    <li class="page-item"><a class="page-link"><span
                                                class="fas fa-angle-right"></span></a></li>
                                </ul>
                                <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property
                                    available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- model wallet -->
<div class="modal fade-lg" id="porposalListModalToggle" tabindex="-1" aria-labelledby="proposalModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content position-relative"><button type="button" class="btn-close position-absolute"
                data-bs-dismiss="modal" aria-label="Close" style="top: 10px; right: 10px; z-index: 9;"></button>
            <div class="modal-body p-4">
                <div class="packages_table table-responsive">
                    <table class="table-style3 table at-savesearch">
                        <thead class="t-head">
                            <tr>
                                <th scope="col">Freelancer</th>
                                <th scope="col">Cover Letter</th>
                                <th scope="col">Hourly price</th>
                                <th scope="col">Estimated Hours</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="t-body">
                            <tr *ngFor="let porposalobj of porposal_list;let i=index">
                                <th scope="row">
                                    <div># {{i+1}} <span class="ms-3"> {{porposalobj.uid}} </span></div>
                                </th>
                                <td class="vam"> {{porposalobj.cover_letter}} </td>
                                <td class="vam"> {{porposalobj.hourly_price}} </td>
                                <td class="vam"><span class="pending-style style1  "> {{porposalobj.Estimated_Hours}}
                                    </span></td>
                                <td class="vam"><a class="table-action fz15 fw500 text-thm2" id="view"><span
                                            class="flaticon-website me-2 vam"></span> View</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>