<section class="hero-home4 pb-0 pt80" style="margin-top: 100px;">
    <div class="container" style="position: relative;">

        <div class="row align-items-center justify-content-between">
            <div id="background-carousel" class="carousel slide" style="position: absolute;" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/banner/1.jpeg" style="border: 10px; border-radius: 10px;" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/banner/2.jpeg" style="border: 10px; border-radius: 10px;" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/banner/3.jpeg" style="border: 10px; border-radius: 10px;" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/banner/4.jpeg" style="border: 10px; border-radius: 10px;" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/banner/5.jpeg" style="border: 10px; border-radius: 10px;" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: 50px;">
                <div class="pr30 pr0-lg mb30-md position-relative">
                    <h1 class="animate-up-1 mb25 text-thm2"
                        style="text-shadow: -0.5px -0.5px 0 #fff,0.51px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;">
                        Hire the best freelancers for<br class="d-none d-xl-block" />any job, online.
                    </h1>

                    <p class="text animate-up-2" style="text-shadow: -0.5px -0.5px 0 #fff,0.51px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;">Millions of people use workifest.com to turn their ideas into
                        reality.
                    </p>
                    <div [routerLink]="['/login']" class="d-flex align-items-center mt30 animate-up-3">
                        <a class="ud-btn btn-thm me-3">Grab Work</a>
                        <a class="ud-btn btn-thm-border">Grab Talent</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="home5-hero-content position-relative">
                    <img hidden alt="hero-img" loading="lazy" width="691" height="536" decoding="async" data-nimg="1"
                        class="animate-up-1 bounce-x w-100 object-fit-contain"
                        style="color:transparent;border-radius: 10px;" srcSet="assets/home4-hero-element-1825a.png"
                        src="assets/home4-hero-element-1825a.png" />
                </div>
            </div>
            <!-- <div class="home1-banner-content at-home9 bounce-x w-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7">
                            <h3 class="banner-title">Freelance Services For <br class="d-none d-lg-block">Your Business
                            </h3>
                            <p class="banner-text text-white ff-heading mb30">Millions of people use freeio.com to turn
                                their
                                ideas into reality.</p>
                            <div
                                class="advance-search-tab bgc-white bdrs60 p10 bdrs4-sm banner-btn position-relative zi9">
                                <div class="row">
                                    <div class="col-md-5 col-lg-6 col-xl-6">
                                        <div class="advance-search-field mb10-sm">
                                            <form class="form-search position-relative">
                                                <div class="box-search"><span
                                                        class="icon far fa-magnifying-glass"></span><input
                                                        class="form-control" placeholder="What are you looking for?"
                                                        type="text" value="" name="search">
                                                    <div class="search-suggestions"
                                                        style="visibility: hidden; opacity: 0; top: 100px;">
                                                        <h6 class="fz14 ml30 mt25 mb-3">Popular Search</h6>
                                                        <div class="box-suggestions">
                                                            <ul class="px-0 m-0 pb-4">
                                                                <li class="">
                                                                    <div class="info-product">
                                                                        <div class="item_title">mobile app development
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="">
                                                                    <div class="info-product">
                                                                        <div class="item_title">mobile app builder</div>
                                                                    </div>
                                                                </li>
                                                                <li class="">
                                                                    <div class="info-product">
                                                                        <div class="item_title">mobile legends</div>
                                                                    </div>
                                                                </li>
                                                                <li class="">
                                                                    <div class="info-product">
                                                                        <div class="item_title">mobile app ui ux design
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="">
                                                                    <div class="info-product">
                                                                        <div class="item_title">mobile game app
                                                                            development
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="">
                                                                    <div class="info-product">
                                                                        <div class="item_title">mobile app design</div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xl-3">
                                        <div class="bselect-style1 bdrl1 bdrn-sm">
                                            <div class="dropdown bootstrap-select"><button type="button"
                                                    class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown">
                                                    <div class="filter-option">
                                                        <div class="filter-option-inner">
                                                            <div class="filter-option-inner-inner">City, state, or zip
                                                            </div>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="inner show">
                                                        <ul class="dropdown-menu inner show">
                                                            <li class="selected active"><a
                                                                    class="dropdown-item selected "><span
                                                                        class="text">City, state, or zip</span></a></li>
                                                            <li class="selected active"><a
                                                                    class="dropdown-item selected "><span
                                                                        class="text">Miami</span></a></li>
                                                            <li class="selected active"><a
                                                                    class="dropdown-item selected "><span
                                                                        class="text">New York</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-3">
                                        <div class="text-center text-xl-start"><button
                                                class="ud-btn btn-dark bdrs60 bdrs4-sm w-100"
                                                type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="banner-text text-white ff-heading mt30 mb15">Popular Searches</p>
                            <div class="home9-tags d-md-flex align-items-center banner-btn"><a
                                    class="bdrs60 mb-2 mb-md-0">Designer</a><a
                                    class="bdrs60 mb-2 mb-md-0">Developer</a><a class="bdrs60 mb-2 mb-md-0">Web</a><a
                                    class="bdrs60 mb-2 mb-md-0">IOS</a><a class="bdrs60 mb-2 mb-md-0">PHP</a><a
                                    class="bdrs60 mb-2 mb-md-0">Senior</a></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- <section class="our-partners bdrb1 pt70 pb40">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-lg-12">
                <div class="main-title text-center">
                    <h6>Trusted by the world’s best</h6>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-6 col-md-4 col-xl-2">
                <div class="partner_item text-center mb30"><img alt="Partner 0" loading="lazy" width="84" height="26"
                        decoding="async" data-nimg="1" class="wa m-auto w-100 h-100 object-fit-contain"
                        style="color:transparent" src="assets/13cd47.png" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="partner_item text-center mb30"><img alt="Partner 1" loading="lazy" width="84" height="26"
                        decoding="async" data-nimg="1" class="wa m-auto w-100 h-100 object-fit-contain"
                        style="color:transparent" src="assets/13cd47.png" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="partner_item text-center mb30"><img alt="Partner 2" loading="lazy" width="84" height="26"
                        decoding="async" data-nimg="1" class="wa m-auto w-100 h-100 object-fit-contain"
                        style="color:transparent" src="assets/15e611.png" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="partner_item text-center mb30"><img alt="Partner 3" loading="lazy" width="84" height="26"
                        decoding="async" data-nimg="1" class="wa m-auto w-100 h-100 object-fit-contain"
                        style="color:transparent" src="assets/1680a8.png?" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="partner_item text-center mb30"><img alt="Partner 4" loading="lazy" width="84" height="26"
                        decoding="async" data-nimg="1" class="wa m-auto w-100 h-100 object-fit-contain"
                        style="color:transparent" src="assets/17c71d.png" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <div class="partner_item text-center mb30"><img alt="Partner 5" loading="lazy" width="84" height="26"
                        decoding="async" data-nimg="1" class="wa m-auto w-100 h-100 object-fit-contain"
                        style="color:transparent" src="assets/18c6f0.png" />
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="our-features pb90 pb30-md" style="margin-top: 50px;">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title text-center">
                    <h2>Need something done?</h2>
                    <p class="text">Most viewed and all-time top-selling
                        services</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="iconbox-style1 at-home4 p-0 text-center">
                    <div class="icon before-none"><span class="flaticon-cv"></span></div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Post a job</h4>
                        <p class="text">It’s free and easy to post a
                            job. Simply fill<!-- --> <br class="d-none d-xxl-block" /> in
                            a title, description.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="iconbox-style1 at-home4 p-0 text-center">
                    <div class="icon before-none"><span class="flaticon-web-design"></span>
                    </div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Choose freelancers
                        </h4>
                        <p class="text">It’s free and easy to post a
                            job. Simply fill<!-- --> <br class="d-none d-xxl-block" /> in
                            a title, description.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="iconbox-style1 at-home4 p-0 text-center">
                    <div class="icon before-none"><span class="flaticon-secure"></span></div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">Pay safely</h4>
                        <p class="text">It’s free and easy to post a
                            job. Simply fill<!-- --> <br class="d-none d-xxl-block" /> in
                            a title, description.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="iconbox-style1 at-home4 p-0 text-center">
                    <div class="icon before-none"><span class="flaticon-customer-service"></span>
                    </div>
                    <div class="details">
                        <h4 class="title mt10 mb-3">We’re here to help
                        </h4>
                        <p class="text">It’s free and easy to post a
                            job. Simply fill<!-- --> <br class="d-none d-xxl-block" /> in
                            a title, description.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb40-md pb90 pt0">
    <div class="container">
        <div class="row align-items-center wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-9">
                <div class="main-title2">
                    <h2 class="title">Browse talent by category</h2>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-start text-lg-end mb-4 mb-lg-2">
                </div>
            </div>
        </div>
        <div class="row d-none d-lg-flex wow fadeInUp">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-developer"></span></div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Development
                                &amp; IT</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-web-design-1"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Design
                                &amp; Creative</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-digital-marketing"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Digital
                                Marketing</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-translator"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Writing
                                &amp; Translation</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-microphone"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Musics
                                &amp; Audio</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-video-file"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Video
                                &amp; Animation</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-ruler"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Engineering
                                &amp; Architecture</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="iconbox-style1 ">
                    <div class="icon"><span class="flaticon-goal"></span>
                    </div>
                    <div class="details mt20">
                        <p class="text mb5">1.853<!-- --> skills</p>
                        <h4 class="title"><a href="service-1.php">Finance
                                &amp; Accounting</a></h4>
                        <p class="mb-0">Software Engineer, Web / Mobile
                            Developer &amp; More<!-- --> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-block d-lg-none">
            <div class="col-lg-12">
                <div class="ui-browser wow fadeInUp"></div>
                <div class="row">
                    <div class="col-auto"><button class="swiper__btn btn__prev__001"><i
                                class="far fa-arrow-left-long"></i></button>
                    </div>
                    <div class="col-auto">
                        <div class="swiper__pagination swiper__pagination__001">
                        </div>
                    </div>
                    <div class="col-auto"><button class="swiper__btn btn_assets__001"><i
                                class="far fa-arrow-right-long"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt150 pt60-lg pb60-lg pb30-md">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="home4-about-1 position-relative"><img alt="about" loading="lazy" width="691" height="508"
                        decoding="async" data-nimg="1" class="w-100 mb30-md h-100 object-fit-contain"
                        style="color:transparent;border-radius: 10px;" src="assets/about-912df.png" /><img alt="about"
                        loading="lazy" width="362" height="68" decoding="async" data-nimg="1"
                        class="bounce-x img-1 default-box-shadow4 object-fit-contain"
                        style="color:transparent;border-radius: 10px;" src="assets/happy-clientaf97.png" />
                    <div
                        class="iconbox-small1 d-none d-lg-block wow fadeInRight default-box-shadow4 bounce-x animate-up-1 animated">
                        <span class="icon flaticon-review"></span>
                        <div class="details">
                            <h6 class="mb-1">4.9/5</h6>
                            <p class="text fz13 mb-0">Clients rate
                                professionals</p>
                        </div>
                    </div>
                    <div
                        class="iconbox-small2 d-none d-lg-block wow fadeInLeft default-box-shadow4 bounce-y animate-up-2 animated">
                        <span class="icon flaticon-review"></span>
                        <div class="details">
                            <h6 class="mb-1">+12M</h6>
                            <p class="text fz13 mb-0">Project
                                Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="mb30">
                    <div class="mb30">
                        <h1 class="title mb30">Core Business Solutions
                        </h1>
                        <h2 class="title mb30">This is how
                            good companies
                            find good company.</h2>
                        <p class="text">Access the top 1% of talent on Upwork, and a full suite of hybrid workforce
                            management tools. This is how innovation works now.</p>
                    </div>
                    <div class="list-style2">
                        <ul class="mb25">
                            <li><i class="far fa-check"></i>Access expert talent to fill your skill gaps</li>
                            <li><i class="far fa-check"></i>Control your workflow: hire, classify and pay your talent
                            </li>
                            <li><i class="far fa-check"></i>Partner with Upwork for end-to-end support</li>
                        </ul>
                    </div><a class="ud-btn btn-thm-border">Learn More <i class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="breadcumb-section pt-0">
    <div
        class="cta-service-v3 cta-banner mx-auto maxw1700 pt120 pb120 bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg px30-lg">
        <img alt="vector-img" loading="lazy" width="198" height="226" decoding="async" data-nimg="1"
            class="left-top-img wow zoomIn" style="color:transparent" src="assets/left-top9e21.png" /><img
            alt="vector-img" loading="lazy" width="255" height="181" decoding="async" data-nimg="1"
            class="right-bottom-img wow zoomIn" style="color:transparent" src="assets/right-bottomebb3.png" /><img
            alt="about" loading="lazy" width="400" height="300" decoding="async" data-nimg="1"
            class="service-v3-vector d-none d-lg-block" style="color:transparent" src="assets/about-44110.png" />
        <div class="container">
            <div class="row wow fadeInUp">
                <div class="col-xl-5">
                    <div class="position-relative">
                        <h2 class="text-white">Grab talent
                            your way
                        </h2>
                        <p class="text mb30 text-white">Work with the largest network of independent professionals and
                            get things done—from quick turnarounds to big transformations.</p>

                        <div class="d-flex align-items-center">
                            <button class="btn btn-success">
                                <h6 class="mb-0 text-white">Post a Job and Hire a Pro</h6>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success">
                                <h6 class="mb-0 text-white">Browse and buy Projects</h6>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-success">
                                <h6 class="mb-0 text-white">Get advice from an industry expert</h6>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0">
    <div class="cta-banner3 mx-auto maxw1600 pt120 pt60-lg pb90 pb60-lg position-relative overflow-hidden bgc-light-yellow"
        style="border-radius: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 wow fadeInRight" data-wow-delay="300ms">
                    <div class="mb30">
                        <div class="main-title">
                            <h2 class="title">A whole world of
                                freelance<!-- --> <br class="d-none d-xl-block" />
                                talent at your fingertips</h2>
                        </div>
                    </div>
                    <div class="why-chose-list">
                        <div class="list-one d-flex align-items-start mb30">
                            <span class="list-icon flex-shrink-0 flaticon-badge"></span>
                            <div class="list-content flex-grow-1 ml20">
                                <h4 class="mb-1">Proof of
                                    quality</h4>
                                <p class="text mb-0 fz15">Check
                                    any pro’s work samples,
                                    client reviews, and
                                    identity <br class="d-none d-lg-block" />
                                    <!-- -->verification.
                                </p>
                            </div>
                        </div>
                        <div class="list-one d-flex align-items-start mb30">
                            <span class="list-icon flex-shrink-0 flaticon-money"></span>
                            <div class="list-content flex-grow-1 ml20">
                                <h4 class="mb-1">No cost until
                                    you hire</h4>
                                <p class="text mb-0 fz15">
                                    Interview potential fits
                                    for your job, negotiate
                                    rates, and only pay <br class="d-none d-lg-block" />
                                    for work you approve.
                                </p>
                            </div>
                        </div>
                        <div class="list-one d-flex align-items-start mb30">
                            <span class="list-icon flex-shrink-0 flaticon-security"></span>
                            <div class="list-content flex-grow-1 ml20">
                                <h4 class="mb-1">Safe and secure
                                </h4>
                                <p class="text mb-0 fz15">Focus
                                    on your work knowing we
                                    help protect your data
                                    and privacy. We’re here
                                    with 24/7 support if you
                                    need it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><img alt="cta banner 3" data-wow-delay="300ms" loading="lazy" width="500" height="500" decoding="async"
            data-nimg="1" class="cta-banner3-img wow fadeInLeft h-100 object-fit-cover" style="color:transparent"
            src="assets/about-56679.jpg" />
    </div>
</section>

<!-- <section class="hover-bgc-color pb90 pb30-md overflow-hidden">
    <div class="container">
        <div class="row align-items-center wow fadeInUp">
            <div class="col-lg-9">
                <div class="main-title">
                    <h2 class="title">Trusted by leading
                        brands and startups</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="testimonial-style1 default-box-shadow1 position-relative mb60 bdrs8">
                    <div class="testimonial-content">
                        <h4 class="title text-thm">Nasdaq</h4><span class="icon fas fa-quote-left"></span>
                        <h4 class="t_content">“Workifest enables us to differentiate ourselves from our competitors and
                            produce content at a higher caliber.”</h4>
                        <p>Josh Machiz, Chief Digital Officer</p>
                    </div>
                    <p>results</p>
                    <div class="thumb d-flex align-items-justify">
                        <div class="flex-shrink-0">
                            <h6 class="mb-0">Emmy Winning</h6>
                            <p class="fz14 mb-0">Facebook Watch <br>program</p>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="mb-0">Millions</h6>
                            <p class="fz14 mb-0">of impressions generated per client per IPO</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="testimonial-style1 default-box-shadow1 position-relative mb60 bdrs8">
                    <div class="testimonial-content">
                        <h4 class="title text-thm">Microsoft</h4><span class="icon fas fa-quote-left"></span>
                        <h4 class="t_content">“One of the advantages of utilizing freelancers is finding talent with
                            different skills quickly as our needs change.”</h4>
                        <p>Carol Taylor, Director of Content Experience</p>
                    </div>
                    <p>results</p>
                    <div class="thumb d-flex align-items-justify">
                        <div class="flex-shrink-0">
                            <h6 class="mb-0">50% Faster</h6>
                            <p class="fz14 mb-0">launch of projects</p>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="mb-0">10,000</h6>
                            <p class="fz14 mb-0">projects completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="testimonial-style1 default-box-shadow1 position-relative mb60 bdrs8">
                    <div class="testimonial-content">
                        <h4 class="title text-thm">Nasdaq</h4><span class="icon fas fa-quote-left"></span>
                        <h4 class="t_content">“Workifest enables us to differentiate ourselves from our competitors and
                            produce content at a higher caliber.”</h4>
                        <p>Josh Machiz, Chief Digital Officer</p>
                    </div>
                    <p>results</p>
                    <div class="thumb d-flex align-items-justify">
                        <div class="flex-shrink-0">
                            <h6 class="mb-0">Emmy Winning</h6>
                            <p class="fz14 mb-0">Facebook Watch <br>program</p>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h6 class="mb-0">Millions</h6>
                            <p class="fz14 mb-0">of impressions generated per client per IPO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->
<section class="pt150 pt60-lg pb60-lg pb30-md">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="home4-about-1 position-relative"><img alt="about" loading="lazy" width="691" height="508"
                        decoding="async" data-nimg="1" class="w-100 mb30-md h-100 object-fit-contain"
                        style="color:transparent;border-radius: 10px;" src="assets/about-912df.png" /><img alt="about"
                        loading="lazy" width="362" height="68" decoding="async" data-nimg="1"
                        class="bounce-x img-1 default-box-shadow4 object-fit-contain" style="color:transparent"
                        src="assets/happy-clientaf97.png" />
                    <div
                        class="iconbox-small1 d-none d-lg-block wow fadeInRight default-box-shadow4 bounce-x animate-up-1 animated">
                        <span class="icon flaticon-review"></span>
                        <div class="details">
                            <h6 class="mb-1">4.9/5</h6>
                            <p class="text fz13 mb-0">Clients rate
                                professionals</p>
                        </div>
                    </div>
                    <div
                        class="iconbox-small2 d-none d-lg-block wow fadeInLeft default-box-shadow4 bounce-y animate-up-2 animated">
                        <span class="icon flaticon-review"></span>
                        <div class="details">
                            <h6 class="mb-1">+12M</h6>
                            <p class="text fz13 mb-0">Project
                                Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="mb30">
                    <div class="mb30">
                        <h2 class="title mb30">Join World s Best
                            Marketplace<!-- --> <br class="d-none d-xl-block" />for
                            Workers</h2>
                        <p class="text">Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim
                            velit mollit. Exercitation veniam
                            consequat sunt nostrud amet.</p>
                    </div>
                    <div class="list-style2">
                        <ul class="mb25">
                            <li><i class="far fa-check"></i>Connect
                                to freelancers with proven
                                Business experience</li>
                            <li><i class="far fa-check"></i>Get
                                matched with the perfect talent
                                by a customer success manager
                            </li>
                            <li><i class="far fa-check"></i>Unmatched
                                quality of remote, hybrid, and
                                flexible jobs</li>
                        </ul>
                    </div><a class="ud-btn btn-thm-border" [routerLink]="['/login']">Grab Talent <i
                            class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>