<footer class="dashboard_footer pt30 pb30">
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-md-between">
            <div class="col-auto">
                <div class="copyright-widget">
                    <p class="mb-md-0">© Workifest. 2024 <a target="_blank" style="color:inherit"
                            href="https://soltechsolution.in"> Soltech Solution</a>. All rights reserved.
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>