<div class="container">
    <h1>Know Your Customer and Identity Verification Policy</h1>
  
    <h2>What is the Know Your Customer (KYC) program?</h2>
    <p>
      Workifest&#39;s KYC program ensures a trusted marketplace for all users by confirming customer identity
      through documentation collection. This helps to prevent fraud, money laundering, and the financing
      of terrorism.
    </p>
    <p>
      We believe that KYC is a requirement that ensures a safer and secure online workplace for all
      Freelancer members. In addition, several of our service providers, such as our payment gateway
      providers require us to perform certain checks on customer identity.
    </p>
  
    <h2>How do I complete KYC to verify my identity?</h2>
    <p>
      You can become Verified by Workifest by submitting a valid government-issued ID card and 2 recent
      utility bills or bank statements or 1 of each.
    </p>
  
    <h2>What if the details on my account do not match the name on my ID or documentation?</h2>
    <p>
      The details registered on your Workifest account must match the name on your documentation. You
      will be asked to confirm your details during the verification process before submitting them for
      review.
    </p>
  
    <h2>What happens if I&#39;m not able to pass KYC?</h2>
    <p>
      If you are unable to become Verified by Workifest, Workifest may place an account limitation or
      suspend your account as a security measure.
      Falsifying your identity is a crime. Workifest may report users that provide false documentation.
    </p>
  
    <h2>ID Verification</h2>
    <p>
      Sellers are encouraged to verify their identity to market themselves to potential Buyers as trusted
      members of our Workifest community. Users that verify their identity also benefit by receiving faster
      processing of their payments and faster resolution of account issues and disputes.
    </p>
    <p>
      Verification may be completed by users at any time, but Freelancer may also request users verify
      their identity to uphold our User Agreement.
    </p>
    <p>To become Verified by Freelancer we require you provide:</p>
    <ul>
      <li>Proof of identity by submitting a Government-issued photo ID.</li>
      <li>
        Proof of address by submitting two different copies of a recent utility bill, such as an
        electric, gas, water or phone bill, or a recent bank statement.
      </li>
    </ul>
  
    <h2>To verify your identity, complete the following steps:</h2>
  
    <h3>Step 1 - Proof of identity</h3>
    <ul>
      <li>Confirm your account details are up to date (Go to Profile &gt; Settings &gt; Account Details).</li>
      <li>Click the Verify my Identity link from your Account Details page.</li>
      <li>
        Confirm your name and date of birth and upload a color scan of your current government-
        issued photo ID as Proof of identity (see accepted IDs below).
      </li>
      <li>
        Enter the ID type, the name on the ID, ID number and expiration date and press Save and
        Continue.
      </li>
    </ul>
  
    <h3>Step 3 - Proof of address</h3>
    <ul>
      <li>
        Confirm your address and enter your preferred contact phone number. If you haven&#39;t
        already set up a Phone Number, you will be sent a unique code to verify this number.
      </li>
      <li>
        Upload a colour scan of two different utility bills or bank statements as proof of residential
        Address (see accepted documentation below).
      </li>
      <li>Fill in the institutions name, documentation type, and the date it was issued.</li>
      <li>Press the Complete. Submit for Review button to have our Verification team review your request.</li>
    </ul>
  
    <p>
      The Workifest Verification Team will review your request. This can take up to 2-3 business days and
      you will be notified when the review process is complete.
    </p>
  
    <h2>Proof of identity requirements:</h2>
    <p>
      We require a colour scanned image or digital photo of acceptable government-issued photo
      identification.
    </p>
  
    <h3>Acceptable forms of Identification:</h3>
    <ul>
      <li>Passport</li>
      <li>Driver&#39;s License</li>
      <li>National ID card</li>
    </ul>
  
    <h3>Additional requirements:</h3>
    <ul>
      <li>High quality colour scan image or digital photo.</li>
      <li>Image dimensions must be 500 x 300 pixels minimum.</li>
      <li>Must be currently valid (not expired).</li>
      <li>Must include photo, signature, name and date of birth.</li>
      <li>Must not be hand written.</li>
      <li>Do not crop, adjust colours, or alter the image in any way.</li>
      <li>
        Must be in English or of English character set (such as Spanish, Portuguese, French, Italian or
        Romanian).
      </li>
      <li>Name on ID must match the name entered in the Verification Centre.</li>
      <li>ID number must match the ID number entered in the Verification Centre.</li>
    </ul>
  
    <p>
      If you have any questions or concerns with these requirements you can contact our customer
      support team at <a href="mailto:support@workifest.com">support&#64;workifest.com</a>.
    </p>
  </div>
  