<app-client-nav></app-client-nav>
<div class="dashboard_content_wrapper">
    <div class="dashboard dashboard_wrapper pr30 pr0-xl ">
        <app-client-side></app-client-side>
        <div class="dashboard__main pl0-md">
            <div class="dashboard__content hover-bgc-color">
                <div class="row pb40">

                    <div class="col-lg-9">
                        <div class="dashboard_title_area">
                            <h2>Creat Project</h2>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-lg-end"><a class="ud-btn btn-dark">Save &amp; Publish<i
                                    class="fal fa-arrow-right-long"></i></a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                            <div class="bdrb1 pb15 mb25">
                                <h5 class="list-title">Basic Information</h5>
                            </div>
                            <div class="col-xl-8">
                                <form class="form-style1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb20"><label class="heading-color ff-heading fw500 mb10">Project
                                                    Title</label><input type="text" class="form-control" id="title"
                                                    name="title" [(ngModel)]="formcreateproject.title"
                                                    placeholder="Enter Project Title" /></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Category</label>
                                                    <div class="bootselect-multiselect">
                                                        <select id="category" name="category"
                                                            [(ngModel)]="formcreateproject.category"
                                                            class="form-control">

                                                            <option value="" selected disabled>Select
                                                            </option>
                                                            <option value="Graphics & Design">Graphics & Design</option>
                                                            <option value="Digital Marketing">Digital Marketing</option>
                                                            <option value="Writing & Translation">Writing & Translation
                                                            </option>
                                                            <option value="Video & Animation">Video & Animation</option>
                                                            <option value="Music & Audio">Music & Audio</option>
                                                            <option value="Programming & Tech">Programming & Tech
                                                            </option>
                                                            <option value="Business">Business</option>
                                                            <option value="Lifestyle">Lifestyle</option>
                                                            <option value="Trending">Trending</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Freelancer
                                                        Type</label>
                                                    <div class="bootselect-multiselect">
                                                        <select id="freelancertype" name="freelancertype"
                                                            [(ngModel)]="formcreateproject.freelancertype"
                                                            class="form-control">

                                                            <option value="" selected disabled>Select
                                                            </option>
                                                            <option value="full-time">Full Time</option>
                                                            <option value="part-time">Part Time</option>
                                                            <option value="project-based">Project Based</option>
                                                            <option value="other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Price
                                                        type</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.pricetype" id="pricetype"
                                                            name="pricetype" class="form-control">
                                                            <option value="low">$ Low</option>
                                                            <option value="mid">$$ Mid</option>
                                                            <option value="high">$$$ High</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="mb20"><label
                                                    class="heading-color ff-heading fw500 mb10">Cost</label><input
                                                    [(ngModel)]="formcreateproject.cost" id="cost" name="cost"
                                                    type="email" class="form-control" placeholder="$" /></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Project
                                                        Duration</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.projectduration"
                                                            id="projectduration" name="projectduration"
                                                            class="form-control">
                                                            <option value="select">Select</option>
                                                            <option value="1-day">1 Day</option>
                                                            <option value="2-day">2 Days</option>
                                                            <option value="3-day">3 Days</option>
                                                            <option value="1-week">1 Week</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Level</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.level" id="level"
                                                            name="level" class="form-control">
                                                            <option value="select">Select</option>
                                                            <option value="entry-level">Entry Level</option>
                                                            <option value="standard-level">Standard Level</option>
                                                            <option value="expert-level">Expert Level</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Country</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.country" id="country"
                                                            name="country" class="form-control">
                                                            <option value="united-states">United States</option>
                                                            <option value="canada">Canada</option>
                                                            <option value="united-kingdom">United Kingdom</option>
                                                            <option value="australia">Australia</option>
                                                            <option value="germany">Germany</option>
                                                            <option value="japan">Japan</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">City</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.city" id="city"
                                                            name="city" class="form-control">
                                                            <option value="new-york">New York</option>
                                                            <option value="toronto">Toronto</option>
                                                            <option value="london">London</option>
                                                            <option value="sydney">Sydney</option>
                                                            <option value="berlin">Berlin</option>
                                                            <option value="tokyo">Tokyo</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Language</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.language" id="language"
                                                            name="language" class="form-control">
                                                            <option value="select">Select</option>
                                                            <option value="english">English</option>
                                                            <option value="french">French</option>
                                                            <option value="german">German</option>
                                                            <option value="japanese">Japanese</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Languages
                                                        Level</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.languageslevel"
                                                            id="languageslevel" name="languageslevel"
                                                            class="form-control">
                                                            <option value="select">Select</option>
                                                            <option value="beginner">Beginner</option>
                                                            <option value="intermediate">Intermediate</option>
                                                            <option value="advanced">Advanced</option>
                                                            <option value="fluent">Fluent</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="mb20">
                                                <div class="form-style1">
                                                    <label class="heading-color ff-heading fw500 mb10">Skills</label>
                                                    <div class="bootselect-multiselect">
                                                        <select [(ngModel)]="formcreateproject.skills" id="skills"
                                                            name="skills" class="form-control">
                                                            <option value="select">Select</option>
                                                            <option value="figma">Figma</option>
                                                            <option value="adobe-xd">Adobe XD</option>
                                                            <option value="css">CSS</option>
                                                            <option value="html">HTML</option>
                                                            <option value="bootstrap">Bootstrap</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="mb10"><label class="heading-color ff-heading fw500 mb10">Project
                                                    Detail</label><textarea
                                                    [(ngModel)]="formcreateproject.projectdetail" id="projectdetail"
                                                    name="projectdetail" cols="30" rows="6"
                                                    placeholder="Description"></textarea></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div (click)="createproject()" class="text-start"><a
                                                    class="ud-btn btn-thm">Save<i
                                                        class="fal fa-arrow-right-long"></i></a></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="ps-widget bgc-white bdrs12 p30 mb30 overflow-hidden position-relative">
                            <div class="bdrb1 pb15 mb25">
                                <h5 class="list-title">Upload Attachments</h5>
                            </div>
                            <div class="row">
                                <div class="col-6 col-xl-3"><label><a class="upload-img">Upload Files<input type="file"
                                                accept="application/pdf" class="d-none" multiple="" /></a></label></div>
                            </div>
                            <p class="text">Maximum file size: 10 MB</p>
                            <div class="text-start"><a class="ud-btn btn-thm" href="contact.html">Save &amp; Publish<i
                                        class="fal fa-arrow-right-long"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <app-client-footer></app-client-footer>
        </div>
    </div>
</div>