<app-client-nav></app-client-nav>
<div class="dashboard_content_wrapper">
    <div class="dashboard dashboard_wrapper pr30 pr0-xl ">
        <app-client-side></app-client-side>
        <div class="dashboard__main pl0-md">
            <div class="dashboard__content hover-bgc-color">
                <div class="row pb40">

                    <div class="col-lg-9">
                        <div class="dashboard_title_area">
                            <h2>Creat Project</h2>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="text-lg-end"><a class="ud-btn btn-dark">Save &amp; Publish<i
                                    class="fal fa-arrow-right-long"></i></a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                            <div class="bdrb1 pb15 mb25">
                                <h5 class="list-title">Basic Information</h5>
                            </div>
                            <div class="col-xl-8">
                                <form class="form-style1">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb20"><label class="heading-color ff-heading fw500 mb10">Project
                                                    Title</label><input type="text" class="form-control"
                                                    placeholder="i will" /></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Category</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">Select</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Graphics &amp;
                                                                                    Design</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Digital
                                                                                    Marketing</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Writing &amp;
                                                                                    Translation</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Video &amp;
                                                                                    Animation</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Music &amp;
                                                                                    Audio</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Programming &amp;
                                                                                    Tech</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Business</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Lifestyle</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Trending</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Freelancer
                                                        Type</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">Select</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Full Time</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Part Time</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Project
                                                                                    Based</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Other</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Price type</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">Select</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Low($)</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Mid($$)</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">High($$$)</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20"><label
                                                    class="heading-color ff-heading fw500 mb10">Cost</label><input
                                                    type="email" class="form-control" placeholder="$" /></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Project
                                                        Duration</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">Select</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">1 Day</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">2 Day</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">3 Day</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">1 Week</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Level</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">Select</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Entry Level</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Standard
                                                                                    Level</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Expert Level</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Country</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">United
                                                                            States</div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">United
                                                                                    States</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Canada</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">United
                                                                                    Kingdom</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Australia</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Germany</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Japan</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">City</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">New York
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item active selected"><span
                                                                                    class="text">New York</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Toronto</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">London</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Sydney</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Berlin</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Tokyo</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Language</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">English</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">French</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">German</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Japanese</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Languages
                                                        Level</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Select
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Beginner</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Intermediate</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Advanced</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Fluent</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="mb20">
                                                <div class="form-style1"><label
                                                        class="heading-color ff-heading fw500 mb10">Skills</label>
                                                    <div class="bootselect-multiselect">
                                                        <div class="dropdown bootstrap-select"><button type="button"
                                                                class="btn dropdown-toggle btn-light"
                                                                data-bs-toggle="dropdown">
                                                                <div class="filter-option">
                                                                    <div class="filter-option-inner">
                                                                        <div class="filter-option-inner-inner">Nothing
                                                                            selected</div>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                            <div class="dropdown-menu ">
                                                                <div class="inner show"
                                                                    style="max-height:300px;overflow-x:auto">
                                                                    <ul class="dropdown-menu inner show">
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Select</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Figma</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Adobe XD</span></a>
                                                                        </li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">CSS</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">HTML</span></a></li>
                                                                        <li class="selected active"><a
                                                                                class="dropdown-item "><span
                                                                                    class="text">Bootstrap</span></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb10"><label class="heading-color ff-heading fw500 mb10">Project
                                                    Detail</label><textarea cols="30" rows="6"
                                                    placeholder="Description"></textarea></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-start"><a class="ud-btn btn-thm" href="contact.html">Save<i
                                                        class="fal fa-arrow-right-long"></i></a></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="ps-widget bgc-white bdrs12 p30 mb30 overflow-hidden position-relative">
                            <div class="bdrb1 pb15 mb25">
                                <h5 class="list-title">Upload Attachments</h5>
                            </div>
                            <div class="row">
                                <div class="col-6 col-xl-3"><label><a class="upload-img">Upload Files<input type="file"
                                                accept="application/pdf" class="d-none" multiple="" /></a></label></div>
                            </div>
                            <p class="text">Maximum file size: 10 MB</p>
                            <div class="text-start"><a class="ud-btn btn-thm" href="contact.html">Save &amp; Publish<i
                                        class="fal fa-arrow-right-long"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <app-client-footer></app-client-footer>
        </div>
    </div>
</div>