<div class="container">

  <h3>What projects can I do on Workifest?</h3>
  <p>
    Popular jobs include web, mobile, software development, design, writing, and
    more.
  </p>

  <h3>How does Workifest make money?</h3>
  <p>Freelancers are charged a 2% service fee on their earnings.</p>

  <h3>What’s the Top Star Program?</h3>
  <p>Recognition for freelancers who consistently deliver outstanding work.</p>

  <h3>Is Workifest free to join?</h3>
  <p>
    Yes, it’s free to join, create a profile, and search for work. A 2%
    freelancer service fee applies to earnings.
  </p>

  <h3>How does Workifest help in career growth?</h3>
  <p>
    Guidance and tips are provided to help freelancers build successful careers.
  </p>

  <h3>What can I gain from Workifest?</h3>
  <p>
    Work with great clients and well-known brands. Get support and guidance to
    boost success.
  </p>

  <h3>Is Workifest good for building a business?</h3>
  <p>Yes, you can create an agency and collaborate as a service provider.</p>

  <h3>What projects are available on Workifest?</h3>
  <p>
    Opportunities across various industries for both short-term and long-term
    contracts.
  </p>

  <h3>What are Loyalty Coins?</h3>
  <p>
    Coins are used to view jobs and submit proposals. Free coins are given at
    registration.
  </p>

  <h3>What do the different recognitions mean?</h3>
  <p>
    Recognition levels include Rising Star, Top Star, Top Mega Star, and Expert,
    based on work performance and feedback.
  </p>
</div>
