<!-- normal -->
<div *ngIf="isrole('deafult')">
    <header class="header-nav nav-innerpage-style bg-transparent zi9 position-relative main-menu border-0"
        style="padding: 17px 0px;">
        <nav class="posr">
            <div class="container posr menu_bdrt1">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto px-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="logos"><a class="header-logo logo2" [routerLink]="['/']"><img alt="Header Logo"
                                        loading="lazy" width="133" height="40" decoding="async" data-nimg="1"
                                        style="color:transparent" src="assets/img/logo/logo.png" /></a>
                            </div>
                            <ul class="ace-responsive-menu ui-navigation menu-without-paddingy ">
                                <li class="visible_list menu-active home-menu-parent ">
                                    <a class="list-item  ui-active"><span class="title"></span>
                                    </a>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span class="title">Grab
                                            Talent</span> <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">Post a Job and hire a Pro</span><span
                                                    class="arrow "></span></a>
                                            <ul class="sub-menu">
                                                <li class="">
                                                    <a href="dev-it.php">Development and IT</a>
                                                </li>
                                                <li class="">
                                                    <a href="design-creative.php">Design and creative</a>
                                                </li>
                                                <li class="">
                                                    <a href="sales-and-marketing.php">Sales and Marketing</a>
                                                </li>
                                                <li class="">
                                                    <a href="writing-translation.php">Writing and Translation</a>
                                                </li>
                                                <li class="">
                                                    <a href="admin-customer-support.php">Admin & Customer Support</a>
                                                </li>
                                                <li class="">
                                                    <a href="finance-accounting.php">Finance & Accounting</a>
                                                </li>
                                                <li class="">
                                                    <a href="hr-training.php">HR & Training</a>
                                                </li>
                                                <li class="">
                                                    <a href="legal.php">Legal</a>
                                                </li>
                                                <li class="">
                                                    <a href="engineering-architecture.php">Engineering &
                                                        Architecture</a>
                                                </li>
                                                <li class="">
                                                    <a href="">Hire Freelancers</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Browse and Buy Projects</span><span
                                                    class="arrow "></span></a>
                                            <ul class="sub-menu">
                                                <li class="">
                                                    <a href="project-1.html">Logo Design</a>
                                                </li>
                                                <li class="">
                                                    <a href="project-2.html">WordPress</a>
                                                </li>
                                                <li class="">
                                                    <a href="project-3.html">Social Media Management</a>
                                                </li>
                                                <li class="">
                                                    <a href="project-4.html">Video Editing</a>
                                                </li>
                                                <li class="">
                                                    <a href="project-single.html">SEO</a>
                                                </li>



                                            </ul>
                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Get advice from an industry expert</span><span
                                                    class="arrow "></span></a>
                                            <ul class="sub-menu">
                                                <li class="">
                                                    <a href="job-1.html">Web Programming</a>
                                                </li>
                                                <li class="">
                                                    <a href="job-2.html">AI & Machine Learning</a>
                                                </li>
                                                <li class="">
                                                    <a href="job-3.html">Marketing Strategy</a>
                                                </li>
                                                <li class="">
                                                    <a href="job-single.html">Social Media Marketing</a>
                                                </li>
                                                <li class="">
                                                    <a href="job-single.html">Website Builders & CMS</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span class="title">Grab
                                            Work</span>
                                        <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">Way to Earn</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Grab work for your skill</span><span
                                                    class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Win work with ads</span><span
                                                    class="title "></span></a>

                                        </li>
                                        <li class="menu-active "><a href="become-seller.php"><span class="title">Join
                                                    Freelancer Plus</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span class="title">About
                                            Us</span>
                                        <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">Success Story</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Reviews</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">How to Hire</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active "><a href="contact.php"><span class="title">How to Grab
                                                    work</span></a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item
                                "><span class="title">Guidance</span> <span class="arrow "></span></a>

                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">How to Hire</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">How to Grab Work</span><span
                                                    class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">FEQ</span><span class="title "></span></a>

                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item
                                    "><span class="title">Category</span> <span class="arrow "></span></a>

                                    <ul class="sub-menu  ">
                                        <li class="">
                                            <a>Development and IT</a>
                                        </li>
                                        <li class="">
                                            <a>Design and creative</a>
                                        </li>
                                        <li class="">
                                            <a>Sales and Marketing</a>
                                        </li>
                                        <li class="">
                                            <a>Writing and Translation</a>
                                        </li>
                                        <li class="">
                                            <a>Admin & Customer Support</a>
                                        </li>
                                        <li class="">
                                            <a>Finance & Accounting</a>
                                        </li>
                                        <li class="">
                                            <a>HR & Training</a>
                                        </li>
                                        <li class="">
                                            <a>Legal</a>
                                        </li>
                                        <li class="">
                                            <a>Engineering &
                                                Architecture</a>
                                        </li>
                                        <li class="">
                                            <a href="">Hire Freelancers</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item
                                    "><span class="title">Core Bussiness Solution</span> <span
                                            class="arrow "></span></a>

                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">Bussiness Solution</span><span
                                                    class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title"> Investor Services </span><span
                                                    class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title"> Management Solution </span><span
                                                    class="title "></span></a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto px-0">
                        <div class="d-flex align-items-center">
                            <a class="login-info" data-bs-toggle="modal" href="#exampleModalToggle">
                                <span class="flaticon-loupe">

                                </span>
                            </a>
                            <a class="login-info mx10-lg mx30" [routerLink]="['/login']">
                                <span class="d-none d-xl-inline-block">Sign In</span></a>
                            <a class="ud-btn btn-thm2 add-joining" [routerLink]="['/role']">Join</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="page" class="mobilie_header_nav stylehome1">

        <div class="mobile-menu">
            <div class="header bdrb1">
                <div class="menu_and_widgets">
                    <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
                        <a class="mobile_logo" href="home-2.php"><img alt="Header Logo" loading="lazy" width="133"
                                height="40" decoding="async" data-nimg="1" style="color:transparent"
                                src="assets/img/logo/logo.png" /></a>
                        <div class="right-side text-end"><a href="login.php">join</a><a class="menubar ml30"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                                aria-controls="offcanvasExample"><img alt="icon" loading="lazy" width="20" height="20"
                                    decoding="async" data-nimg="1" style="color:transparent"
                                    src="images/mobile-dark-nav-icon.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="posr">
                    <div class="mobile_menu_close_btn"><span class="far fa-times"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-modal">
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fal fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="popup-search-field search_area"><input type="text" class="form-control border-0"
                                placeholder="What service are you looking for today?" /><label><span
                                    class="far fa-magnifying-glass"></span></label><button class="ud-btn btn-thm"
                                type="submit">Search</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="body_content">
        <section class="categories_list_section overflow-hidden border-0">
            <div class="container bgc-thm3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="listings_category_nav_list_menu at-home4">
                            <ul class="mb0 d-flex justify-content-center mx-auto ps-0">
                                <li><a class="active" href="dev-it.php">Development & IT</a></li>
                                <li><a class="" href="#">AI Services</a></li>
                                <li><a class="" href="design-creative.php">Design & Creative</a></li>
                                <li><a class="" href="sales-and-marketing.php">Sales & Marketing</a></li>
                                <li><a class="" href="admin-customer-support.php">Admin & Customer Support</a></li>
                                <li><a class="" href="writing-translation.php">Writting & Translation</a></li>
                                <li><a class="" href="finance-accounting.php">Finance & Accounting</a></li>
                                <li><a class="" href="#">More</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
</div>
<div *ngIf="isrole('client')">
    <header class="header-nav nav-innerpage-style bg-transparent zi9 position-relative main-menu border-0"
        style="padding: 17px 0px;">
        <nav class="posr">
            <div class="container posr menu_bdrt1">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto px-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="logos"><a class="header-logo logo2" [routerLink]="['/']"><img alt="Header Logo"
                                        loading="lazy" width="133" height="40" decoding="async" data-nimg="1"
                                        style="color:transparent" src="assets/img/logo/logo.png" /></a>
                            </div>
                            <ul class="ace-responsive-menu ui-navigation menu-without-paddingy ">
                                <li class="visible_list menu-active home-menu-parent ">
                                    <a class="list-item  ui-active"><span class="title"></span>
                                    </a>
                                </li>
                                <li class="visible_list menu-active"><a class="list-item  "><span class="title">
                                            Job</span> <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a [routerLink]="['/client/createproject']"><span class="title">Post
                                                    Job</span></a>
                                        </li>
                                        <li class="menu-active ">
                                            <a [routerLink]="['/client/proposals']"><span
                                                    class="title">Proposals</span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a [routerLink]="['/client/manageproject']"><span class="title">Manage
                                                    Job</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span
                                            class="title">Talent</span>
                                        <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a [routerLink]="['/client/freelancerlist']"><span
                                                    class="title">Discover</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Yours hires</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title"></span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active "><a><span class="title">Recently viewed</span></a>
                                        </li>
                                        <li class="menu-active "><a><span class="title">Saved
                                                    talent</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span class="title">
                                            Reports</span>
                                        <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">
                                                    Transaction History</span><span class="title "></span></a>

                                        </li>


                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item
                                " [routerLink]="['/message']"><span class="title">Messages</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto px-0">
                        <div class="text-center text-lg-end header_right_widgets">
                            <ul
                                class="dashboard_dd_menu_list d-flex align-items-center justify-content-center justify-content-sm-end mb-0 p-0">

                                <li class="d-none d-sm-block"><a class="text-center mr5 text-thm2 dropdown-toggle fz20"
                                        type="button" data-bs-toggle="dropdown"><span class="flaticon-mail"></span></a>
                                    <div class="dropdown-menu">
                                        <div class="dboard_notific_dd px30 pt20 pb15">
                                            <div class="notif_list d-flex align-items-start bdrb1 pb25 mb10"><img
                                                    alt="testimonials" loading="lazy" width="50" height="50"
                                                    decoding="async" data-nimg="1" class="img-2"
                                                    style="color:transparent" src="assets/testi-1a01f.png" />
                                                <div class="details ml15">
                                                    <p class="dark-color fw500 mb-2">Ali Tufan</p>
                                                    <p class="text mb-2">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing.</p>
                                                    <p class="mb-0 text-thm">4 hours ago</p>
                                                </div>
                                            </div>
                                            <div class="d-grid"><a class="ud-btn btn-thm w-100"
                                                    [routerLink]="['/message']">View
                                                    All Messages<i class="fal fa-arrow-right-long"></i></a></div>
                                        </div>
                                    </div>
                                </li>

                                <li class="d-none d-sm-block">
                                    <a class="btn" data-bs-toggle="dropdown"><img alt="user.png" loading="lazy"
                                            width="50" height="50" decoding="async" data-nimg="1"
                                            style="color:transparent" src="assets/user033f.png" /></a>
                                    <div class="dropdown-menu">
                                        <div class="dboard_notific_dd px30 pt10 pb15">
                                            <div class="notif_list d-flex align-items-center bdrb1 pb15 mb10">
                                                <a class="dropdown-item " [routerLink]="['/profile']"><i
                                                        class="flaticon-photo mr10"></i>My Profile</a>

                                            </div>
                                            <div class="notif_list d-flex align-items-center">
                                                <a class="dropdown-item " [routerLink]="['/logout']"><i
                                                        class="flaticon-logout mr10"></i>Logout
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="page" class="mobilie_header_nav stylehome1">

        <div class="mobile-menu">
            <div class="header bdrb1">
                <div class="menu_and_widgets">
                    <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
                        <a class="mobile_logo" href="home-2.php"><img alt="Header Logo" loading="lazy" width="133"
                                height="40" decoding="async" data-nimg="1" style="color:transparent"
                                src="assets/img/logo/logo.png" /></a>
                        <div class="right-side text-end"><a href="login.php">join</a><a class="menubar ml30"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                                aria-controls="offcanvasExample"><img alt="icon" loading="lazy" width="20" height="20"
                                    decoding="async" data-nimg="1" style="color:transparent"
                                    src="images/mobile-dark-nav-icon.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="posr">
                    <div class="mobile_menu_close_btn"><span class="far fa-times"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-modal">
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fal fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="popup-search-field search_area"><input type="text" class="form-control border-0"
                                placeholder="What service are you looking for today?" /><label><span
                                    class="far fa-magnifying-glass"></span></label><button class="ud-btn btn-thm"
                                type="submit">Search</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="body_content">
        <section class="categories_list_section overflow-hidden border-0">
            <div class="container bgc-thm3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="listings_category_nav_list_menu at-home4">
                            <ul class="mb0 d-flex justify-content-center mx-auto ps-0">
                                <li><a class="active" href="dev-it.php">Development & IT</a></li>
                                <li><a class="" href="#">AI Services</a></li>
                                <li><a class="" href="design-creative.php">Design & Creative</a></li>
                                <li><a class="" href="sales-and-marketing.php">Sales & Marketing</a></li>
                                <li><a class="" href="admin-customer-support.php">Admin & Customer Support</a></li>
                                <li><a class="" href="writing-translation.php">Writting & Translation</a></li>
                                <li><a class="" href="finance-accounting.php">Finance & Accounting</a></li>
                                <li><a class="" href="#">More</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
</div>
<div *ngIf="isrole('freelancer')">
    <header class="header-nav nav-innerpage-style bg-transparent zi9 position-relative main-menu border-0"
        style="padding: 17px 0px;">
        <nav class="posr">
            <div class="container posr menu_bdrt1">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto px-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="logos"><a class="header-logo logo2" [routerLink]="['/']"><img alt="Header Logo"
                                        loading="lazy" width="133" height="40" decoding="async" data-nimg="1"
                                        style="color:transparent" src="assets/img/logo/logo.png" /></a>
                            </div>
                            <ul class="ace-responsive-menu ui-navigation menu-without-paddingy ">
                                <li class="visible_list menu-active home-menu-parent ">
                                    <a class="list-item  ui-active"><span class="title"></span>
                                    </a>
                                </li>
                                <li class="visible_list menu-active"><a class="list-item  "><span class="title">
                                            Grab Work</span> <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a [routerLink]="['/freelancer/projectlist']"><span class="title">Grab
                                                    Work</span></a>
                                        </li>

                                        <li class="menu-active ">
                                            <a [routerLink]="['/']"><span class="title">
                                                    Save jobs</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span class="title">My
                                            Workspace
                                        </span>
                                        <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">Completed</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Current Job</span><span class="title "></span></a>
                                        </li>
                                        <li class="menu-active ">
                                            <a [routerLink]="['/freelancer/proposalslist']"><span
                                                    class="title">Proposals</span></a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item  "><span
                                            class="title">Reports</span>
                                        <span class="arrow "></span></a>
                                    <ul class="sub-menu  ">
                                        <li class="menu-active ">
                                            <a><span class="title">Overview</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Points History</span><span class="title "></span></a>

                                        </li>
                                        <li class="menu-active ">
                                            <a><span class="title">Transaction history</span><span
                                                    class="title "></span></a>

                                        </li>
                                    </ul>
                                </li>
                                <li class="visible_list menu-active  "><a class="list-item
                                " [routerLink]="['/message']"><span class="title">Messages</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto px-0">
                        <div class="text-center text-lg-end header_right_widgets">
                            <ul
                                class="dashboard_dd_menu_list d-flex align-items-center justify-content-center justify-content-sm-end mb-0 p-0">

                                <li class="d-none d-sm-block"><a class="text-center mr5 text-thm2 dropdown-toggle fz20"
                                        type="button" data-bs-toggle="dropdown"><span class="flaticon-mail"></span></a>
                                    <div class="dropdown-menu">
                                        <div class="dboard_notific_dd px30 pt20 pb15">
                                            <div class="notif_list d-flex align-items-start bdrb1 pb25 mb10"><img
                                                    alt="testimonials" loading="lazy" width="50" height="50"
                                                    decoding="async" data-nimg="1" class="img-2"
                                                    style="color:transparent" src="assets/testi-1a01f.png" />
                                                <div class="details ml15">
                                                    <p class="dark-color fw500 mb-2">Ali Tufan</p>
                                                    <p class="text mb-2">Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing.</p>
                                                    <p class="mb-0 text-thm">4 hours ago</p>
                                                </div>
                                            </div>
                                            <div class="d-grid"><a class="ud-btn btn-thm w-100">View
                                                    All Messages<i class="fal fa-arrow-right-long"></i></a></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-none d-sm-block"><a class="text-center mr5 text-thm2 dropdown-toggle fz20"
                                        type="button" data-bs-toggle="dropdown"><span class="flaticon-like"></span></a>
                                    <div class="dropdown-menu">
                                        <div class="dboard_notific_dd px30 pt10 pb15">
                                            <div class="notif_list d-flex align-items-center bdrb1 pb15 mb10"><img
                                                    alt="notif" loading="lazy" width="40" height="40" decoding="async"
                                                    data-nimg="1" style="color:transparent"
                                                    src="assets/notif-12a24.png" />
                                                <div class="details ml10">
                                                    <p class="text mb-0">Your resume</p>
                                                    <p class="text mb-0">updated!</p>
                                                </div>
                                            </div>
                                            <div class="notif_list d-flex align-items-center bdrb1 pb15 mb10"><img
                                                    alt="notif" loading="lazy" width="40" height="40" decoding="async"
                                                    data-nimg="1" style="color:transparent"
                                                    src="assets/notif-28373.png" />
                                                <div class="details ml10">
                                                    <p class="text mb-0">You changed</p>
                                                    <p class="text mb-0">password</p>
                                                </div>
                                            </div>
                                            <div class="notif_list d-flex align-items-center bdrb1 pb15 mb10"><img
                                                    alt="notif" loading="lazy" width="40" height="40" decoding="async"
                                                    data-nimg="1" style="color:transparent"
                                                    src="assets/notif-3df8c.png" />
                                                <div class="details ml10">
                                                    <p class="text mb-0">Your account has been</p>
                                                    <p class="text mb-0">created successfully</p>
                                                </div>
                                            </div>
                                            <div class="notif_list d-flex align-items-center bdrb1 pb15 mb10"><img
                                                    alt="notif" loading="lazy" width="40" height="40" decoding="async"
                                                    data-nimg="1" style="color:transparent"
                                                    src="assets/notif-41938.png" />
                                                <div class="details ml10">
                                                    <p class="text mb-0">You applied for a job<!-- --> </p>
                                                    <p class="text mb-0">Front-end Developer</p>
                                                </div>
                                            </div>
                                            <div class="notif_list d-flex align-items-center"><img alt="notif"
                                                    loading="lazy" width="40" height="40" decoding="async" data-nimg="1"
                                                    style="color:transparent" src="assets/notif-5bb24.png" />
                                                <div class="details ml10">
                                                    <p class="text mb-0">Your course uploaded</p>
                                                    <p class="text mb-0">successfully</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a class="btn" data-bs-toggle="dropdown"><img alt="user.png" loading="lazy"
                                            width="50" height="50" decoding="async" data-nimg="1"
                                            style="color:transparent" src="assets/user033f.png" /></a>
                                    <div class="dropdown-menu">
                                        <div [routerLink]="['/profile']" style="cursor: pointer;"
                                            class="dboard_notific_dd px30 pt10 pb15">
                                            <div class="notif_list d-flex align-items-center bdrb1 pb15 mb10">
                                                <a class="dropdown-item "><i class="flaticon-photo mr10"></i>My
                                                    Profile</a>

                                            </div>
                                            <div [routerLink]="['/logout']" style="cursor: pointer;"
                                                class="notif_list d-flex align-items-center">
                                                <a class="dropdown-item "><i class="flaticon-logout mr10"></i>Logout
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="page" class="mobilie_header_nav stylehome1">

        <div class="mobile-menu">
            <div class="header bdrb1">
                <div class="menu_and_widgets">
                    <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
                        <a class="mobile_logo" href="home-2.php"><img alt="Header Logo" loading="lazy" width="133"
                                height="40" decoding="async" data-nimg="1" style="color:transparent"
                                src="assets/img/logo/logo.png" /></a>
                        <div class="right-side text-end"><a>join</a><a class="menubar ml30" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><img alt="icon"
                                    loading="lazy" width="20" height="20" decoding="async" data-nimg="1"
                                    style="color:transparent" src="images/mobile-dark-nav-icon.svg" /></a>
                        </div>
                    </div>
                </div>
                <div class="posr">
                    <div class="mobile_menu_close_btn"><span class="far fa-times"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-modal">
        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fal fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="popup-search-field search_area"><input type="text" class="form-control border-0"
                                placeholder="What service are you looking for today?" /><label><span
                                    class="far fa-magnifying-glass"></span></label><button class="ud-btn btn-thm"
                                type="submit">Search</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="body_content">
        <section class="categories_list_section overflow-hidden border-0">
            <div class="container bgc-thm3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="listings_category_nav_list_menu at-home4">
                            <ul class="mb0 d-flex justify-content-center mx-auto ps-0">
                                <li><a class="active" href="dev-it.php">Development & IT</a></li>
                                <li><a class="" href="#">AI Services</a></li>
                                <li><a class="" href="design-creative.php">Design & Creative</a></li>
                                <li><a class="" href="sales-and-marketing.php">Sales & Marketing</a></li>
                                <li><a class="" href="admin-customer-support.php">Admin & Customer Support</a></li>
                                <li><a class="" href="writing-translation.php">Writting & Translation</a></li>
                                <li><a class="" href="finance-accounting.php">Finance & Accounting</a></li>
                                <li><a class="" href="#">More</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> -->
</div>