<div class="container">
    <div class="dashboard__content hover-bgc-color">
        <div class="row pb40">
            <div class="col-lg-12">
                <div class="dashboard_title_area">
                    <h2>Messages</h2>
                </div>
            </div>
        </div>
        <div class="row mb40">
            <div class="col-lg-6 col-xl-5 col-xxl-4">
                <div class="message_container">
                    <div class="inbox_user_list">
                        <div class="iu_heading pr35">
                            <div class="chat_user_search">
                                <form class="d-flex align-items-center"><button class="btn" type="button"><span
                                            class="far fa-magnifying-glass"></span></button><input class="form-control"
                                        placeholder="Serach" aria-label="Search" type="search"></form>
                            </div>
                        </div>
                        <div class="chat-member-list pr20">
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms1.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms1.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms1.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Darlene Robertson
                                                </div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small></div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Jane Cooper</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small>
                                                <div class="m_notif notify">2</div>
                                            </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Arlene McCoy</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small>
                                                <div class="m_notif online">2</div>
                                            </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms4.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms4.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms4.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Albert Flores</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small></div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Cameron Williamson
                                                </div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small>
                                                <div class="m_notif away">2</div>
                                            </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms6.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms6.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms6.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Kristin Watson</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small></div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms7.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms7.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms7.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Annette Black</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small>
                                                <div class="m_notif busy">2</div>
                                            </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms8.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms8.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms8.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Jacob Jones</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small></div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms1.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms1.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms1.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Vincent Porter</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small></div>
                                        </div>
                                    </div>
                                </a></div>
                            <div class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative"><img alt="ms1.png"
                                            loading="lazy" width="50" height="50" decoding="async" data-nimg="1"
                                            class="img-fluid float-start rounded-circle mr10"
                                            srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                            src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div class="fz15 fw500 dark-color ff-heading mb-0">Jane Cooper</div>
                                                <p class="preview">Head of Development</p>
                                            </div>
                                            <div class="iul_notific"><small>35 mins</small></div>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 col-xxl-8">
                <div class="message_container mt30-md">
                    <div class="user_heading px-0 mx30">
                        <div class="wrap"><img alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                data-nimg="1" class="img-fluid mr10"
                                srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                style="color: transparent;">
                            <div class="meta d-sm-flex justify-content-sm-between align-items-center">
                                <div class="authors">
                                    <h6 class="name mb-0">Arlene McCoy</h6>
                                    <p class="preview">Active</p>
                                </div>
                                <div><a class="text-decoration-underline fz14 fw500 text-red ff-heading">Delete
                                        Conversation</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="inbox_chatting_box">
                        <ul class="chatting_content">
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms4.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms4.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms4.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms4.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>How likely are you to recommend our company to your friends and family?</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms5.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>Hey there, we’re just writing to let you know that you’ve been subscribed to a
                                    repository
                                    on GitHub.</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms5.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>Ok, Understood!</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms5.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms5.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>The project finally complete! Let's go to!.</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>Let's go!</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>Hello, John!</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>Are we meeting today?</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>The project finally complete! Let's go to!</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>Let's go!</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>Are we meeting today?</p>
                            </li>
                            <li class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10">35 mins</small> You</div><img
                                        alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms3.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                </div>
                                <p>The project finally complete! Let's go to!</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>Let's go!</p>
                            </li>
                            <li class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms2.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2Fimages%2Finbox%2Fms2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;">
                                    <div class="title fz15">Albert Flores <small class="ml10">35 mins</small></div>
                                </div>
                                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's</p>
                            </li>
                        </ul>
                    </div>
                    <div class="mi_text">
                        <div class="message_input">
                            <form class="d-flex align-items-center"><input class="form-control"
                                    placeholder="Type a Message" type="search"><button type="button"
                                    class="btn ud-btn btn-thm">Send Message<i
                                        class="fal fa-arrow-right-long"></i></button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>