<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="container">
    <div class="dashboard__content hover-bgc-color">
        <div class="row pb40">
            <div class="col-lg-12">
                <div class="dashboard_title_area">
                    <h2>Messages</h2>
                </div>
            </div>
        </div>
        <div class="row mb40">
            <div class="col-lg-6 col-xl-5 col-xxl-4">
                <div class="message_container">
                    <div class="inbox_user_list">
                        <div class="iu_heading pr35">
                            <div class="chat_user_search">
                                <form class="d-flex align-items-center"><button class="btn" type="button"><span
                                            class="far fa-magnifying-glass"></span></button><input class="form-control"
                                        placeholder="Serach" aria-label="Search" type="search"></form>
                            </div>
                        </div>
                        <div class="chat-member-list pr20">
                            <div *ngFor="let conversationobj of conversation;let i=index " (click)="selectCustomer(i)"
                                class="list-item pt5"><a>
                                    <div class="d-flex align-items-center position-relative">
                                        <img alt="ms1.png" loading="lazy" width="50" height="50" decoding="async"
                                            data-nimg="1" class="img-fluid float-start rounded-circle mr10"
                                            srcset="assets/user033f.png" src="assets/user033f.png"
                                            style="color: transparent;">
                                        <div class="d-sm-flex">
                                            <div class="d-inline-block">
                                                <div *ngIf="role === 'freelancer'"
                                                    class="fz15 fw500 dark-color ff-heading mb-0">
                                                    {{getname(conversationobj.uid,userlist).name}}
                                                </div>
                                                <div *ngIf="role != 'freelancer'"
                                                    class="fz15 fw500 dark-color ff-heading mb-0">

                                                    {{conversationobj.cname}}
                                                </div>
                                            </div>
                                            <div class="iul_notific"><small>
                                                    {{formatDateconv(conversationobj.lastmessagedatetime)}} |
                                                    {{formatTimeconv(conversationobj.lastmessagedatetime)}}
                                                </small></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 col-xxl-8">
                <div class="message_container mt30-md">
                    <div *ngIf="conversation.length!=0" class="user_heading px-0 mx30">
                        <div class="wrap"><img alt="ms3.png" loading="lazy" width="50" height="50" decoding="async"
                                data-nimg="1" class="img-fluid mr10" srcset="assets/user033f.png"
                                src="assets/user033f.png" style="color: transparent;">
                            <div class="meta d-sm-flex justify-content-sm-between align-items-center">
                                <div class="authors">
                                    <h6 *ngIf="role === 'freelancer'" class="name mb-0">
                                        {{getname(this.conversation[this.selectedCustomerIndex].uid,userlist).name}}
                                    </h6>
                                    <h6 *ngIf="role != 'freelancer'" class="name mb-0">
                                        {{this.conversation[this.selectedCustomerIndex].cname}} </h6>
                                    <p class="preview">Active</p>
                                </div>
                                <div><a (click)="deleteconversation(conversation[selectedCustomerIndex])"
                                        class="text-decoration-underline fz14 fw500 text-red ff-heading">Delete
                                        Conversation</a></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="role != 'freelancer'" class="inbox_chatting_box">
                        <ul *ngFor="let msg of currentChatMessages" class="chatting_content">
                            <li *ngIf="msg.type === 'incoming'" class="sent float-start">
                                <div class="d-flex align-items-center mb15"><img alt="ms4.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="assets/user033f.png" src="assets/user033f.png"
                                        style="color: transparent;">
                                    <div class="title fz15"><small class="ml10"> {{msg.date}} | {{msg.time}} </small>
                                    </div>
                                </div>
                                <p> {{msg.text}} </p>
                            </li>
                            <li *ngIf="msg.type === 'outgoing'" class="reply float-end">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10"> {{msg.date}} | {{msg.time}} </small>
                                    </div><img alt="ms5.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="assets/user033f.png" src="assets/user033f.png"
                                        style="color: transparent;">
                                </div>
                                <p> {{msg.text}} </p>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="role === 'freelancer'" class="inbox_chatting_box">
                        <ul *ngFor="let msg of currentChatMessages" class="chatting_content">
                            <li *ngIf="msg.type === 'outgoing'" class="sent float-start">
                                <div class="d-flex align-items-center justify-content-end mb15">
                                    <div class="title fz15"><small class="mr10"> {{msg.date}} | {{msg.time}} </small>
                                    </div><img alt="ms5.png" loading="lazy" width="50" height="50" decoding="async"
                                        data-nimg="1" class="img-fluid rounded-circle align-self-end ml10"
                                        srcset="assets/user033f.png" src="assets/user033f.png"
                                        style="color: transparent;">
                                </div>
                                <p> {{msg.text}} </p>
                            </li>
                            <li *ngIf="msg.type === 'incoming'" class="reply float-end">
                                <div class="d-flex align-items-center mb15"><img alt="ms4.png" loading="lazy" width="50"
                                        height="50" decoding="async" data-nimg="1"
                                        class="img-fluid rounded-circle align-self-start mr10"
                                        srcset="assets/user033f.png" src="assets/user033f.png"
                                        style="color: transparent;">
                                    <div class="title fz15"><small class="ml10"> {{msg.date}} | {{msg.time}} </small>
                                    </div>
                                </div>
                                <p> {{msg.text}} </p>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="conversation.length!=0" class="mi_text">
                        <div class="message_input">
                            <form class="d-flex align-items-center"><input class="form-control"
                                    [(ngModel)]="messageData" (keyup.enter)="sendmessage(messageData,msg_index)"
                                    name="messageData" id="messageData" placeholder="Type a Message"
                                    type="search"><button (click)="sendmessage(messageData,msg_index)" type="button"
                                    class="btn ud-btn btn-thm">Send Message<i
                                        class="fal fa-arrow-right-long"></i></button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>