<div class="container">
  <h1>How to Grab Talent</h1>
  <p>Grab Talent through Workifest.com. Post your job on Workifest.com and wait for the proposals to come in from
      around
      the world. Workifest.com helps you shortlist candidates who are the best fit. You can check profiles,
      portfolios,
      and reviews before onboarding a freelancer.</p>

  <h2>Browse and Buy Projects</h2>
  <p>Get to work right away with Project Catalog. Jump in the wagon and shop projects already planned for you by the
      talent who knows them best. No hassle to create a job post or shortlist talent. Only browse, buy, and get
      started
      right away, with clear expectations from the beginning.</p>

  <h2>Safety First</h2>
  <p>You get what you pay for with ease. On hourly contracts, we track your freelancer’s screen so you can see they’re
      putting in the hard work and dedication. On fixed-price contracts, you agree on milestones and only pay up when
      those milestones are hit or after project completion.</p>

  <h2>All in One Place</h2>
  <p>On registering and logging in, you’ll get your own online dashboard to manage your project. Use it to securely
      send
      and receive files, give real-time feedback, and make payments. And if you’re out and about a lot, you’ll want to
      download the app too.</p>
</div>
