<section *ngIf="!client" class="footer-style1 pt25 pb-0 ">
    <section class="footer-style1 pt25 pb-0">
        <div class="container">
            <div class="row bb-white-light pb10 mb60">
                <div class="col-md-7">
                    <div
                        class="d-block text-center text-md-start justify-content-center justify-content-md-start d-md-flex align-items-center mb-3 mb-md-0">
                        <a class="fz17 fw500 mr15-md mr30 text-white" [routerLink]="['/termsandcondition']">Terms of
                            Conditions</a><a class="fz17 fw500 mr15-md mr30 text-white"
                            [routerLink]="['/privacypolicy']">Privacy
                            Policy</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="social-widget text-center text-md-end">
                        <div class="social-style1"><a class="text-white me-2 fw500 fz17">Follow us</a><a><i
                                    class="fab fa-facebook-f list-inline-item"></i></a><a><i
                                    class="fab fa-twitter list-inline-item"></i></a><a><i
                                    class="fab fa-instagram list-inline-item"></i></a><a><i
                                    class="fab fa-linkedin-in list-inline-item"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="link-style1 mb-4 mb-sm-5 ">
                        <h5 class="mb15 text-white">About</h5>
                        <div class="link-list"><a [routerLink]="['/refundpolicy']">Refund Policy</a><a>Press
                                &amp; News</a><a>Partnerships</a><a [routerLink]="['/privacypolicy']">Privacy
                                Policy</a><a [routerLink]="['/termsandcondition']">Terms of
                                Conditions</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div [routerLink]="['/login']" class="link-style1 mb-4 mb-sm-5 ">
                        <h5 class="mb15 text-white">Categories</h5>
                        <ul class="ps-0">
                            <li><a>Graphics &amp;
                                    Design</a></li>
                            <li><a>Digital Marketing</a>
                            </li>
                            <li><a>Writing &amp;
                                    Translation</a></li>
                            <li><a>Video &amp;
                                    Animation</a></li>
                            <li><a>Music &amp; Audio</a>
                            </li>
                            <li><a>Programming &amp;
                                    Tech</a></li>
                            <li><a>Data</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div [routerLink]="['/contactus']" class="link-style1 mb-4 mb-sm-5 ">
                        <h5 class="mb15 text-white">Support</h5>
                        <ul class="ps-0">
                            <li><a>Help &amp; Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div [routerLink]="['/contactus']" class="link-style1 mb-4 mb-sm-5 ">
                        <h5 class="mb15 text-white">Subcribe US </h5>
                        <ul class="ps-0">
                            <li><a [routerLink]="['/pricing']">Pricing</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container white-bdrt1 py-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="text-center text-lg-start">
                        <p class="copyright-text mb-2 mb-md-0  text-white-light ff-heading">
                            © Workifest. 2024 All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-lg-end text-lg-start">
                        <p class="copyright-text mb-2 mb-md-0  text-white-light ff-heading">
                            Develope By Soltech Solutions</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
